@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("components/bootstrap/dist/css/bootstrap.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("components/bootstrap/dist/css/bootstrap-theme.min.css")'>
    </head>
    <body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">
            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h1 class="cover-heading" >@content</h1>
                    </div>
                </div>

                <div class="inner cover">
                    <p id="content" class="lead"></p>
                </div>

            </div>
        </div>

    </div>
    <script src='@routes.Assets.at("components/jquery/dist/jquery.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("components/bootstrap/dist/js/bootstrap.min.js")' type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
          $.getJSON('http://hipsterjesus.com/api/?paras=1&type=hipster-centric', function(data) {
            $('#content').html(data.text);
          });
        })
    </script>

    </body>
</html>
